.split {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 5px;
  position: relative;
}

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
}

.set {
  margin: 0 5px;
}
