.details {
  max-width: 960px;
  display: flex;
  position: relative;
  flex-flow: row wrap;
}

.detail {
  width: 20%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 10px 10px;
  padding: 5px;
}

.remove-button {
  position: absolute;
  top: 5px;
  left: 140px;
}
