.details {
  max-width: 960px;
  display: flex;
  position: relative;
  flex-flow: row wrap;
}

.detail {
  min-width: 180px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 10px 10px;
  padding: 5px;
}

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
}
